.articles-outside {
  display: flex;
  flex-flow: column;
}

.articles-container {
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

@media screen and (max-width: 600px) {

  .articles-container {
    align-content: center;
  }
}

@media screen and (max-width: 820px) {

  .articles-container {
    align-content: center;
  }
}
