.exp-story {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
}

.full-image {
  width: 80vw;
}